.cardContainer {
    flex: 1;
    margin: 3px;
    background-color: lightblue;
    height: 70vh;
    position: relative;
}

.imageUrl {
    border: 10px solid red;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infoContainer {
    background-color: 1px solid rebeccapurple;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.title {
    border: 1px solid rebeccapurple;
    color: var(--white);
}

.buttonContainer {
    border: 1px solid green;
    height: 50px;
    width: 50px;
}

