.cardContainer {
    position: relative;
    flex: 1;
    /* margin: 50px; */
    /* border: 4px solid green; */
    
}
  
.cardContainer::-webkit-scrollbar {
    display: none;
}

.imageUrl {
    flex: 1;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 60px;
    /* border: 10px solid red; */
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px; 
    box-shadow: 0px 4px 4px 0.8px var(--DarkColorShadow);
    border: 0.1px solid var(--white);

    transition: font-size 0.2s ease;
    transition: left 0.2s ease;
}

.infoContainer {
    /* border: 5px solid green; */
    position: absolute;
    text-shadow: 5px 5px 10px var(--DarkColor);
    background-color: rgba(245, 245, 245, 0.164);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    /* bottom: 0; */
    left: 0;
    /* right: 0; */
    width: 100%;
    height: 100%;
}

.title {
    /* border: 1px solid rebeccapurple; */
    color: var(--white);

    transition: font-size 0.2s ease;
    transition: left 0.2s ease;
  
}

.buttonContainer {
    margin-top: 40px;
}



@media only screen and (max-width: 968px) {
    .title {
        font-size: 150%;    
    }

    .imageUrl {
        /* border: 10px solid red; */
        width: 220px;
        height: 220px;
    }

    /* .cardContainer {
        margin: 35px;
        border: 4px solid green; 
    }  */

} 

