/* Img Banner Styles */

.imgContainer {
    position: relative;
    color: var(--LightColor);
    /* border: 1px solid green; */
 
}

.topLeftTagline {
    position: absolute;
    top: 55px;
    left: 85px;
    font-size: 2rem;
    text-shadow: 5px 5px 10px var(--DarkColor);
    color: var(--white);
    font-weight: 500;
    transition: font-size 0.2s ease;
    transition: left 0.2s ease;
    /* border: 1px solid green; */
}

.buttonContainer { 
    color: var(--white);
    position: absolute;
    bottom: 75px;
    left: 85px;
    transition: font-size 0.2s ease;
    transition: left 0.2s ease;
    cursor: pointer;
}

.imageUrl {
    width: 100%;
    /* border: 1px solid green; */
}


/* Text Banner Styles */

.textContainer {
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    /* border: 1px solid green; */
}

.title {
    text-align: start;
    /* border: 1px solid green; */
}

.paragraphs {
    text-align: start;
    padding-top: 20px;
    /* border: 1px solid green; */
}

@media only screen and (max-width: 968px) {
    .topLeftTagline {
        font-size: 100%; 
        left: 8%;
        /* border: 1px solid green; */
    }

    .buttonContainer { 
        position: absolute;
        bottom: 55px;
        left: 43px;
    }
}