.productCard {
    display: flex;
    overflow: auto;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */

    
    /* border: 10px solid saddlebrown; */
}

.productCard::-webkit-scrollbar {
    display: none;
}