
button {
    border: none;
    border-radius: 8px;
    border: 0.5px solid var(--Green);
    padding: 1.3em 1.5em;
    /* 20.8 24 */
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    text-shadow: 10px 10px 10px var(--Green);
    color: var(--white);
    /* border-color: 1px solid var(--Green); */
    background-color: var(--GreenPastelDarkTransparent);
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  button:hover {
    background-color: var(--Green);
  }
  
  /* button:focus,
  button:focus-visible {
    outline: 40px auto -webkit-focus-ring-color;
  } */

  .greenButton {
    border: none;
    border-radius: 8px;
    padding: 1.3em 1.5em;
    /* 20.8 24 */
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    text-shadow: 10px 10px 10px var(--DarkColor);
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: border-color 0.25s;
    color: var(--white);
    background-color: var(--GreenTransparent);
  }

  .greenButton:hover {
    background-color: var(--GreenPastelDark);
  }

  .blueButton {
    border: none;
    background-color: var(--Blue);
    color: var(--white);

    /* padding: 20px 80px;
    font-weight: 600; */

  }

  .GreyTint3 {
    border: none;
    background-color: var(--GreyTint2);
    color: var(--DarkColor);

    /* padding: 20px 80px;
    font-weight: 600; */

  }

  .GreyTint3:hover {
    background-color: var(--GreyTint3);
    color: var(--DarkColor);
}




  @media only screen and (max-width: 768px) {
    button {
      font-size: 0.8rem;
      padding: 0.8em 1.2em;
    }
}

      /* font-size: 18px;
    text-shadow: 5px 5px 10px black;
    font-size: 300;
    color: whitesmoke;
    border-radius: 8px;
    background-color: var(--GreenDark);
    
    padding: .6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    border: 1px solid transparent;
    border-color: var(--GreenPastelDark) */
   
    /* border-color: rgb(67, 125, 67); */

    /* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a; 
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--greenPastelDark);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
  