
a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: var(--Green);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--lightColor);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} 

/* 51,2 */







