/* pseudo-class, - root element with higher specificity then html */

:root {
    --LightColor: #FCFCFC;
    --white: #ffffff;
    --DarkColor: #01090a;
    --DarkColorShadow: #01090a16;
    --tintDark: #000304;

    --Green: #345959;
    --GreenTransparent: #345959e5;
    --GreenDark: #224040;
    --GreenPastel: #bad9d6;
    --GreenPastelDark: #88bf90;
    --GreenPastelDarkTransparent: #88bf908e;

    --Blue: #7787a6;
    --BlueTint1: #9CA8C0;
    --BlueTint2: #C2CADA;
    --BlueTint3: #E7EAEF;

    --GreyTint0: #666b6c;
    --Grey: #808484;
    --GreyTint2: #999c9d;
    --GreyTint3: #b2b5b5;
}