.pageContainer {
    display: flex;
    border: solid 20px brown;
} 


.productCard {
    display: flex;
    /* margin-top: 40px;  */
    border: solid 10px pink;
    width: 100%;
}

.article {
    flex: 1;
    display: flex;
    width: 50%;
    flex-direction: column;
    border: solid 2px blue; 
    
} 

.imageUrl {
    /* width: 700px;
    margin-left: 20px; */
    height: 50vh;
    width: auto;
    object-fit: cover;
    border: solid 1px orange;
}

.title {
    font-size: 35px;
    border: solid 1px red; 
}

.categoryContainer {
    border: solid 1px red; 

}

.id, .climateZone, .category {
  color: grey;
  font-size: 14px;
  border: 1px solid lightblue;
}

.cycle {
    border: 1px solid orange;
    
} 

.shortDescription {
    text-align: start;
    padding: 25px;
    font-size: 18px;
    border: solid 1px orchid; 
}

.description {
    text-align: start;
    padding: 25px;
    font-size: 18px;
    /* border: solid 1px red; */
}

.cartContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    /* height: 10%; */
}

.price {
    color: gray;
    font-size: 35px;
    font-weight: 500;
}

.currency {
    font-size: 14px;
}

.sectionidcategory {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}