.pageContainer {
    display: flex;
    /* border: solid 2px brown; */
    padding-top: 80px; 
    padding-bottom: 100px; 
} 


.productCard {
    display: flex;
    /* margin-top: 40px;  */
    /* border: solid 1px pink; */
    /* width: 100%;  */
}

.article {
    /* flex: 1; */
    display: flex;
    width: 70%;
    flex-direction: column;
    /* border: solid 2px blue; */ 
} 

.infoarticle {
    padding: 0 30px;
    /* flex: 1; */
    display: flex;
    width: 50%;
    flex-direction: column;
    /* border: solid 2px blue;  */  
}


.imageUrl {
    /* width: 700px;
    margin-left: 20px; */
    height: 60vh;
    width: auto;
    object-fit: cover;
    /* border: solid 1px orange; */
}



.title {
    font-size: 35px;
    font-weight: 400;
    /* border: solid 1px red;  */
    padding-bottom: 20px;
}

.categoryContainer {
    /* border: solid 1px red;  */
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.id, .climateZone, .category, .cycle {
  color: grey;
  font-size: 14px;
  /* border: 1px solid lightblue; */
}

.cycle {
    /* border: 1px solid orange;  */
    display: flex;
 
} 

.shortDescription {
    text-align: start;
    font-size: 16px;
    font-weight: 200;
    /* border: solid 1px orchid;  */
    padding: 20px 0;
}

.ShowHide {
    margin: 20px 0;
}

.ShowHide, .description {
    text-align: start;
    font-size: 16px;
    font-weight: 200;
    /* border: solid 1px red; */
}


.cartContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;

    /* height: 10%; */
}

.priceContainer {
    display: flex;
    align-items: center;
}

.price {
    color: gray;
    font-size: 34px;
    font-weight: 500;
}

.currency {
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}

.sectionidcategory {
    display: flex;
    justify-content: space-between;
    
}