.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: var(--Green);
    font-size: 14px;
    color: var(--white);
    font-weight: 500; 
}