.container {
    border: 1px solid transparent;
   
}

.wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.searchContainer {
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
    /* border: 1px solid red; */
}

.logoContainer {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.language {
    font-size: 24;
    cursor: pointer;
    /* border: 1px solid red; */
}

.input {
    border: none;
    /* border: 1px solid red; */
}

.search {
    color: var(--Grey);
    font-size: 16px;
    /* border: 1px solid red; */
}

.center {
    flex: 1;
    /* border: 1px solid red; */
}

.title {
    font-weight: bold;
    text-align: center;
    /* border: 1px solid red; */
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red; */
}

.menu {
    /* font-size: 14px; */
    cursor: pointer;
    margin-left: 25px;
    white-space: nowrap;
    /* border: 1px solid red; */
}


@media only screen and (max-width: 768px) {
    .title {
      font-size: 35px;
    }
}
