.container {
    border: 1px solid transparent;
    /* padding: 0 50px; */
}

.navContainer {
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.searchContainer {
    display: flex;
    align-items: center;
    /* margin-left: 25px; */
    /* padding: 5px; */
    /* border: 1px solid red; */
}

.logoContainer {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.language {
    /* font-size: 12; */
    cursor: pointer;
    /* border: 1px solid red; */
}

.input {
    border: none;
    border: 1px solid red;
}

.search {
    color: var(--Grey);
    font-size: 16px;
    /* border: 1px solid red; */
}

/* .cart {
    display: ;
} */

.center {
    flex: 1;
    /* border: 1px solid red; */
    text-align: center;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 60px;
    /* border: 1px solid red; */
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red;  */
}

.menu {
    font-size: 12px;
    cursor: pointer;
    margin-left: 25px;
    white-space: nowrap;
    /* border: 1px solid red;  */
}

.menuLink {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 25px;
    white-space: nowrap;  
}

.menuLink:hover {
  color: var(--Green); 
}




@media only screen and (max-width: 768px) {
    .title {
      font-size: 35px;
      margin-bottom: 5px;
    }
}
