
.container {
    padding: 80px 0px;
    block-size: fit-content;
    margin-bottom: 100px;
    /* border: 1px solid red; */
}  



.title { 
    font-size: 30px;
    font-weight: 300; 
    margin-bottom: 20px;
}

.topContainer {
    text-decoration: underline;
    width: fit-content;
    /* border: 1px solid red; */
  
}

.topTexts {
    cursor: pointer;
    margin-bottom: 20px; 
}

.bottomBottom {
     /* border: 5px solid blue;  */
    display: flex;
    justify-content: space-between;
}

.infoContainer {
    /* border: 4px solid pink; */
    flex: 2;
}

.product {
    /* border: 10px solid saddlebrown; */
    display: flex;
    justify-content: space-between;

}

.productDetail {
    /* border: 10px solid goldenrod; */
    flex: 1;
    display: flex;
}

.productImg {
    /* border: 10px solid lightgreen; */
    width: 200px;
}

.ditails {
    /* border: 10px solid gray; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 0 20px;
}

.productName {
    /* border: 1px solid red; */
    white-space: nowrap;
}

.priceDetail {
    /* border: 10px solid purple; */
    
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productCounter {
    margin-bottom: 20px; 
}

.productPrice {
    color: var(--Green);
    font-size: 30px;
    font-weight: 200;
}

.summary {
    box-sizing: border-box;
    /* border: 10px solid olive; */
    flex: 1;
    box-shadow: 0px 2px 4px 0.4px var(--DarkColorShadow);
    background-color: var(--white);
    padding: 40px;
    border-radius: 4px;
   
}

.summeryTitle {
    font-weight: 200;
    font-size: 18px;
    
}

.summaryItem {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

}


.summaryButton {
    width: 100%;
    background-color: var(--GreenPastelDark);
    border: none;

}

.summaryButton:hover {
    background-color: var(--GrayGreenLight);
    color: var(--DarkColor);

}