/* 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; 
} */

.cartContainer {
    /* border: 1px solid red; */
    padding: 50px;
}

.title {
    /* text-align: center; */
    font-weight: 300;
    font-size: 24px;
    padding: 20px 0; 
}

.topContainer {
    /* border: 1px solid red;  */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

/* type filled props */

.topButton {
    display: flex;
    justify-content: space-between;
    background-color: var(--Blue);
    font-weight: 600;
    cursor: pointer;
}

.topButton:hover {
    background-color: var(--BlueTint3);
    color: var(--DarkColor);
}


.topTexts {
    /* border: 1px solid red; */
    color: var(--Blue);
    text-decoration: underline;
    cursor: pointer;
    margin: 0 10px;
}

.bottomBottom {
    /* border: 5px solid blue; */

    display: flex;
    justify-content: space-between;
}

.infoContainer {
    /* border: 4px solid pink; */

    flex: 3;
}

.product {
    /* border: 10px solid saddlebrown; */

    display: flex;
    justify-content: space-between;

}

.productDetail {
    /* border: 10px solid goldenrod; */

    flex: 2;
    display: flex;
}

.productImg {
    /* border: 10px solid lightgreen; */

    width: 200px;
}

.ditails {
    /* border: 10px solid gray; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    padding: 20px;
}

.productName {
    /* border: 1px solid red; */
    white-space: nowrap;
}

/* color props */
.productColor {
    display: flex;

    /* height: 50px;
    width: 40px;
    border-radius: 50%; */
}

/* .productSize {
    background-color: 1px solid plum;
} */

.priceDetail {
    /* border: 10px solid purple; */
    
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productCounter {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    /* border: 1px solid salmon; */
   
}

.productAmount {
    font-size: 24px;
    margin: 5px;
    /* border: 1px solid green; */
}

.productPrice {
    color: var(--Blue);
    font-size: 30px;
    font-weight: 200;
}

hr {
    margin: 20px 0;
    background-color: var(--BlueTint3);
    border: none;
    height: 1px;

}

.summary {
    /* border: 10px solid olive; */
    flex: 1;
    /* border: 0.5px solid var(--Blue); */
    height: 50vh;
    padding-left: 60px;
}

.summeryTitle {
    font-weight: 200;
    font-size: 24px;
    padding: 20px 0;
}

.summaryItem {
    display: flex;
    justify-content: space-between;

    margin: 30px 0;

}

/* .summaryItemText {


}

.summaryItemPrice {

} */

.summaryButton {
    width: 100%;
    background-color: var(--Blue);
    font-weight: 600;
    cursor: pointer;
}

.summaryButton:hover {
    background-color: var(--BlueTint3);
    color: var(--DarkColor);

}