/* profile */
.container {  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    border-radius: 6px; 
    padding: 60px;
    background-color: var(--white);

    border-color: 10px solid red;
}


.title {
    font-weight: 400;
    padding-bottom: 20px;  
}

img {
    display: block; 
    width: 100px;
}

.labeltext {
    font-weight: 200;
    font-size: 16px;
}

.valuetext {
    font-weight: 300;
    display: inline-block;
    margin-left: 20px;
}



input {
    margin-top: 20px;
}

input {
    width: 250px;
    padding-left: 20px;
    height: 30px;
    border-radius: 6px;
    border: 0.1px solid var(--blue);
}

input::placeholder {
    color: var(--blue);
    font-size: 16px;
}


/* input:focus {
    
} */

input {
    margin-left: 20px;
}

input {
    margin-left: 14px;
}


.ModalButton {
    width: 160px;
    height: 45px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    background-color: var();
    color: var(--white);  
}

.ModalButton:hover {
    background-color: var();
    border-radius: 0px;
}

.submitButton {
    margin-top: 40px;
}

.editButton {
    margin-top: 20px;
}


/* modal */

.modal {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
  
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 20px;
    border-radius: 4px;
   

    border: 2px solid var(--blue);
    /* padding: 40px;
    background-color: var(--white);
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border-radius: 4px; */
}
  
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    cursor: pointer;
    color: var(--bluetint);
    font-size: 30px;
    font-weight: 200;
} 