
.container {
    /* border: 5px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

.formContainer {
    /* border: 2px solid blue; */
    /* width: 40%; */
    width: 40%;
    padding: 20px;
}

.title {
    /* border: 1px solid blue; */
    font-size: 30px;
    font-weight: 300;
    padding: 20px 0;
}

.form {
    /* border: 4px solid blue; */
    display: flex;
    flex-direction: column;
}

.input {
    /* border: 1px solid blue; */
    border-radius: 8px;
    flex: 1;
    min-width: 40%;
    margin: 20px 20px 0 0;
    padding: 1.8em 2.5em;
    /* 28.8 40 */
    box-sizing: border-box; 
    border: 0.1px solid var(--GreyTint3);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
 
.input:focus {
    border: 1px solid var(--Green);
} 

.logInButton {
    margin: 20px 0;
    width: 96%;
    background-color: var(--GreenPastelDark);
    border: none;
    /* padding: 15px 20px; */
    cursor: pointer;
}

.logInButton:hover {
    background-color: var(--Green);
    color: var(--white);
}

.link  {  
    text-align: center;
    padding: 10px 0;
}




@media only screen and (max-width: 768px) {
    
    .input {
        padding: 1.1em 2.5em;
    }
}
